<!DOCTYPE html>
{% load staticfiles %}

<html>

<head>
    <meta charset="UTF-8">
    <title>凡普信贷app</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="{% static '/css/font.css' %}">
    <link rel="stylesheet" href="{% static '/css/xadmin.css' %}">
    <link rel="stylesheet" href="{% static '/js/layui/css/layui.css' %}">
    <script type="text/javascript" src="{% static '/js/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/xadmin.js' %}"></script>
    <script type="text/javascript" src="{% static "/js/layui/layui.js" %}" charset="utf-8"></script>

</head>

<body>
<xblock>
    <div class="layui-row">
        <button class="layui-btn" onclick="x_admin_show('添加','/add-product/')"><i class="layui-icon"></i>添加
        </button>
        <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
           href="javascript:location.replace(location.href);" title="刷新">
            <i class="layui-icon" style="line-height:30px">ဂ</i></a>
        <span class="x-right" style="line-height:40px">共有{{ paginator.count }}条，每页显示{{ paginator.per_page }}条</span>
    </div>
</xblock>

<table class="layui-table">
    <thead>
    <th>
        序号
    </th>
    <th>
        产品名称
    </th>
    <th>
        产品枚举
    </th>
    <th>
        薪/商
    </th>
    <th>
        创建时间
    </th>
    <th>
        操作
    </th>
    </thead>
    {% for inner in data %}
        <tr>
            <td>
                {{ forloop.counter }}
            </td>
            <td>{{ inner.product_name }}</td>
            <td>{{ inner.product_enum }}</td>
            <td>{{ inner.product_type }}</td>
            <td>{{ inner.create_time|date:"Y-m-d H:i" }}</td>
            <td class="td-manage">
                <a title="删除" onclick="del_list(this,{{ inner.id }})" href="javascript:;">
                    <i class="layui-icon layui-icon-delete"></i>
                </a>
            </td>
        </tr>
    {% endfor %}
</table>
    <div class="page">
        <div>
            {% if applist.has_previous %}
                {#  当前页的上一页按钮正常使用#}
                <a class="prev" href="?page={{ applist.previous_page_number }}">&lt;&lt;</a>
            {% else %}
                {# 当前页的不存在上一页时,上一页的按钮不可用#}
                <a class="prev" href="#">&lt;&lt;</a>
            {% endif %}
            {#上一页按钮结束#}
            {# 页码开始#}
            {% for num in paginator.page_range %}

                {% if num == currentPage %}
                    <a class="num" href="?page={{ num }}">{{ num }}</a>
                {% else %}
                    <a class="num" href="?page={{ num }}">{{ num }}</a>

                {% endif %}
            {% endfor %}
            {% if applist.has_next %}
                {#  当前页的上一页按钮正常使用#}
                <a class="prev" href="?page={{ applist.next_page_number }}">&gt;&gt;</a>
            {% else %}
                {# 当前页的不存在上一页时,上一页的按钮不可用#}
                <a class="prev" href="#">&gt;&gt;</a>
            {% endif %}
        </div>
    </div>
<script>
    function del_list(the, inner_id) {
        var name = $(the).parents("tr").children("td").eq(1).text()
        layer.open({
            type: 1,
            skin: 'layui-layer-rim',
            area: ["400px", "200px"],
            title: "删除条目",
            content: '<div align="center" class="text-center" style="margin-top:20px"><p>是否确认删除:</br>' + name + '?</p></div>',
            btn: ['确定', '取消'],
            yes: function () {

                $.ajax({
                    url: "{% url 'del_product_list' %}",
                    type: 'post',
                    data: {"column_id": inner_id},
                    success: function (e) {
                        if (e == 1) {
                            layer.closeAll();
                            layer.msg("删除成功");
                            $(the).parents("tr").remove();

                        }

                        else {
                            layer.closeAll();
                            layer.msg("删除失败，请重试");
                        }
                    },
                })
            },

        });
    }
    </script>
</body>

</html>