<!DOCTYPE html>
{% load staticfiles %}

<html>

<head>
    <meta charset="UTF-8">
    <title>凡普信贷app</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="{% static '/css/font.css' %}">
    <link rel="stylesheet" href="{% static '/css/xadmin.css' %}">
    <link rel="stylesheet" href="{% static '/js/layui/css/layui.css' %}">
    <script type="text/javascript" src="{% static '/js/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/xadmin.js' %}"></script>
    <script type="text/javascript" src="{% static "/js/layui/layui.js" %}" charset="utf-8"></script>
</head>
<style type="text/css">
    table {

        table-layout: fixed;

    }

    tr td {
        text-overflow: ellipsis; /* for IE */
        overflow: hidden;
        white-space: nowrap;

    }

</style>

<body>

<div class="x-body">
    <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so" method="post" id="form-sumbit">
            <input class="layui-input" placeholder="开始日" name="create_time" id="start">
            <input class="layui-input" placeholder="截止日" name="end_time" id="end">
            <div class="layui-input-inline">
                <input type="text" name="names" placeholder="姓名"
                       autocomplete="off" class="layui-input">
            </div>
            <div class="layui-input-inline">
                <input type="text" name="mobiles" placeholder="手机号"
                       autocomplete="off" class="layui-input">
            </div>
            <div class="layui-input-inline">
                <select name="current_status">
                    <option value="">状态</option>
                    <option value="APPROVED">批核</option>
                    <option VALUE="WAIT_CONTRACT">生成合同</option>
                    <option value="CALM_PERIOD">冷静期</option>
                    <option value="PROCESSING">放款成功</option>
                </select>
            </div>


            <button class="layui-btn" lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>

        </form>
    </div>
    <xblock>
        <button class="layui-btn" onclick="x_admin_show('添加','/add-piece/')"><i class="layui-icon"></i>添加
        </button>
        <span class="x-right" style="line-height:40px">共有{{ paginator.count }}条，每页显示{{ paginator.per_page }}条</span>
    </xblock>
    <div id="tabb">
        <table class="mytable layui-table" width="100%">
            <thead>
            <tr>
                <th>
                    序号
                </th>
                <th>姓名</th>
                <th>手机号</th>
                <th>预期状态</th>
                <th>app进件号</th>
                <th>个贷进件号</th>
                <th>创建时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for inner in piecelist %}
                <tr id="{{ inner.id }}">
                    <td>
                        {{ forloop.counter }}
                    </td>
                    <td>
                        {{ inner.name }}
                    </td>
                    <td>
                        {{ inner.mobile }}
                    </td>
                    <td>
                        {{ inner.want_to_status }}
                    </td>
                    <td>
                        {{ inner.app_request_id }}

                    </td>
                    <td>
                        {{ inner.lend_request_id }}
                    </td>
                    <td>
                        {{ inner.create_time|date:"Y-m-d H:i:s" }}
                    </td>

                    <td class="td-manage">
                        <a title="删除" onclick="del_list(this,{{ inner.id }})" href="javascript:;">
                            <i class="layui-icon layui-icon-delete"></i>
                        </a>
                        <a title="查询" onclick="x_admin_show('查询','/search-piece/?id={{ inner.app_request_id }}')">
                            <i class="layui-icon layui-icon-survey"></i>
                        </a>
                    </td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="page">
        <div>
            {% if applist.has_previous %}
                {#  当前页的上一页按钮正常使用#}
                <a class="prev" href="?page={{ applist.previous_page_number }}">&lt;&lt;</a>
            {% else %}
                {# 当前页的不存在上一页时,上一页的按钮不可用#}
                <a class="prev" href="#">&lt;&lt;</a>
            {% endif %}
            {#上一页按钮结束#}
            {# 页码开始#}
            {% for num in paginator.page_range %}

                {% if num == currentPage %}
                    <a class="num" href="?page={{ num }}">{{ num }}</a>
                {% else %}
                    <a class="num" href="?page={{ num }}">{{ num }}</a>

                {% endif %}
            {% endfor %}
            {% if applist.has_next %}
                {#  当前页的上一页按钮正常使用#}
                <a class="prev" href="?page={{ applist.next_page_number }}">&gt;&gt;</a>
            {% else %}
                {# 当前页的不存在上一页时,上一页的按钮不可用#}
                <a class="prev" href="#">&gt;&gt;</a>
            {% endif %}
        </div>
    </div>

</div>

<!--删除操作-->
<script>
    function del_list(the, inner_id) {

        var mobile = $(the).parents("tr").children("td").eq(2).text()
        layer.open({
            type: 1,
            skin: 'layui-layer-rim',
            area: ["400px", "200px"],
            title: "删除条目",
            content: '<div align="center" class="text-center" style="margin-top:20px"><p>是否确认删除手机号为：</br>' + mobile + ' 的进件?</p></div>',
            btn: ['确定', '取消'],
            yes: function () {

                $.ajax({
                    url: "{% url 'del_piece_list' %}",
                    type: 'post',
                    data: {"column_id": inner_id},
                    success: function (e) {
                        if (e == 1) {
                            layer.closeAll();
                            layer.msg("删除成功");
                            $(the).parents("tr").remove();


                        }

                        else {
                            layer.closeAll();
                            layer.msg("删除失败，请重试");
                        }
                    },
                })
            },

        });
    }


</script>
<script>
    layui.use('laydate', function () {
        var laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
            elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
            elem: '#end' //指定元素
        });
    });
</script>
<!--局部刷新-->
<script src="//cdn.bootcss.com/jquery.qrcode/1.0/jquery.qrcode.min.js"></script>

<script>

    $(document).ready(function () {

        $('#form-sumbit').submit(function () {
            var names = $("input[name=names]").val()
            var mobiles = $("input[name=mobiles]").val()
            var current_status = $("select[name=current_status]").val()
            var start_time = $("input[name=create_time]").val()
            var end_time = $("input[name=end_time]").val()
            $.ajax({
                    url: "{% url 'piece-list' %}",
                    type: 'post',
                    data: {
                        "create_time": start_time,
                        "end_time": end_time,
                        "name": names,
                        "mobile": mobiles,
                        "current_status": current_status
                    },
                    success: function (data) {

                        var data = data;

                        var key = /<table[\w|\W]+\<\/table>/;
                        datas = data.match(key);

                        $('#tabb').html(datas);


                    },
                    else: function () {
                        layui.use('layer', function () {
                            var layer = layui.layer;

                            layer.msg('查询失败，请稍后重试');
                        });
                    }


                }
            );


            return false;
        });


    });
    <!--点击table后弹窗-->

    function tdd(the) {
        alert($(the).text());

    }

</script>
</body>

</html>