<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>circle</title>
</head>
<body>


<script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<div id="app" align="center">
    <table>
        <tr>
            <td>
                <p>App_Cusomer_Id: {% verbatim %}{{rows.AppCustomerId}}{% endverbatim %}</p>
                <p>APP进件号: {% verbatim %}{{rows.AppRequestId}}{% endverbatim %}</p>
                <p>个贷进件号:{% verbatim %} {{rows.LendRequestId}}{% endverbatim %}</p>
                <p>APP状态:{% verbatim %} {{rows.AppStateType}}{% endverbatim %}</p>
                <p>个贷状态:{% verbatim %} {{rows.LendStatus}}{% endverbatim %}</p>
                <p>个贷进件号: {% verbatim %}{{rows.AppCustomerId}}{% endverbatim %}</p>
                <p>产品: {% verbatim %}{{rows.ProductName}}{% endverbatim %}</p>
                <p>用户名: {% verbatim %}{{rows.AppCustomerName}}{% endverbatim %}</p>
                <p>手机号: {% verbatim %}{{rows.AppMobile}}{% endverbatim %}</p>
                <p>APP里的身份证号: {% verbatim %}{{rows.AppIdNo}}{% endverbatim %}</p>
                <p>Log_in_ID: {% verbatim %}{{rows.AppLogin}}{% endverbatim %}</p>
                <p>销售工号: {% verbatim %}{{rows.SalesNo}}{% endverbatim %}</p>
                <p>个贷小状态状态: {% verbatim %}{{rows.LendMinStatus}}{% endverbatim %}</p>
                <p>个贷Customer_Id: {% verbatim %}{{rows.LendCustomerId}}{% endverbatim %}</p>
                <p>个贷身份证号: {% verbatim %}{{rows.LendCustomerIdNo}}{% endverbatim %}</p>
            </td>
        </tr>
    </table>

    <div  v-if="showPrise">

    <button @click='choice'>{{button_choice}}</button>
    </div>

</div>
<script>
    const address='http://172.16.113.79:8882'

    new Vue({
        el: '#app',
        data:{

                rows: {},
                button_choice: '',
                showPrise:false,
        },
        //进入页面即刷新
        mounted() {
            this.send()
        },
        methods: {
            choice() {
                this.showPrise=true
                console.log('adfa')

            },

            send() {

                axios.get(address+'/messages?', {
                    params: {AppRequestId: '10002566'},
                    headers: {
                        Auth: "YLS",
                        Token: 'C2wVRVeJ527xvlfsapxcIg==',
                    },
                }).then((response) => {

                    const data = response.data;
                    result = data.messages[0]
                    passe=''
                    if (result['AppStateType'] == 'PB_SECOND_OTHER') {
                        showPrise=true
                        passe = '点击补充第一次补充材料'

                    } else if (result['AppStateType'] == 'PB_SECOND_SUPPLY_OPTION') {
                        showPrise=true

                        passe = '点击补充第二次补充材料'
                    }
                    this.rows = result
                    this.button_choice = passe


                })
            }
        },


    });


</script>
<script>

</script>

</body>
</html>